services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  redis:
    image: redis:7
    ports:
      - "127.0.0.1:16379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
